.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #a1a0a0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    text-align: center;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container_background {
    width: 100vw;
    height: 100vh;
    background-color: rgb(23, 25, 24);

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
}

.container_modal {
    width: 30vw;
    height: 30vh;
    background-color: rgb(204, 201, 201);
}

.container_top_modal {
    padding-right: 20px;
    color: #000000;
    display: flex;
    justify-content: flex-end;
}

.close_modal {
    cursor: pointer;
}

.result {
    display: flex;
    flex-direction: column;
    color: #000000;
    gap: 20px;
    padding-top: 60px;
    font-size: 26px;
    font-family: "Times New Roman", Times, serif;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#text_Register {
    color: #FFFFFF(255, 255, 255);
    opacity: 0.8;
    font-size: 1.3rem;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 16px;
    display: flex;
    justify-content: end;
    flex-direction: column;
}

#text_Register:hover {
    color: #000000;
    opacity: 0.8;
}

nav {
    background-color: #000000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 500px;
}
